<%= form_for(@user, html: { multipart: true }) do |f| %>
    <table>
        <tr>
          <td><%= f.label :username %></td>
          <td><%= f.text_field :username, class: 'form-control' %></td>
        </tr>

        <tr>
          <td> <%= f.label :password %></td>
          <td><%= f.password_field :password, class: 'form-control' %></td>
        </tr>

        <tr>
          <td><%= f.label :password_confirmation, "Confirm Password" %></td>
          <td><%= f.password_field :password_confirmation, class: 'form-control' %></td>
        </tr>
        
        <tr>
          <td><%= f.file_field :picture %></td>
        </tr>
        
        <tr>
            <td><p><%= f.submit "Save Account", class: "btn btn-primary" %></p></td>
        </tr>
    </table>
<% end %>
