<%= form_for(@user, html: { multipart: true }) do |f| %>
    <table>
        <tr>
          <td><%= f.label :username %></td>
          <td><%= f.text_field :username, class: 'form-control' %></td>
        </tr>

        <tr>
          <td> <%= f.label :password %></td>
          <td><%= f.password_field :password, class: 'form-control' %></td>
        </tr>

        <tr>
          <td><%= f.label :password_confirmation, "Confirm Password" %></td>
          <td><%= f.password_field :password_confirmation, class: 'form-control' %></td>
        </tr>
        
        <tr>
          <td><%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %></td>
        </tr>
        
        <tr>
            <td><p><%= f.submit "Save Account", class: "btn btn-primary" %></p></td>
        </tr>
    </table>
<% end %>

<script type="text/javascript">
  $('#user_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>