<%= render "shared/navbar" %>

<%= form_tag(users_path, method: "get") do %>
    <%= text_field_tag(:user_wanted) %>
    <%= submit_tag("Find User") %>
<% end %>

<table>
    <% @all_games.in_groups_of(4) do |games| %>
        <tr>
        <% for game in games do %>
            <% unless game.nil? %>
                <td>
                    <%= image_tag(game.thumbnail) %>
                    <div class = "game_name"><%= game.bgname %></div>
                </td>
            <% end %>
        <% end %>
        </tr>
    <% end %>
</table>