<%= render "shared/navbar" %>

<%= form_tag(users_path, method: "get") do %>
    <%= text_field_tag(:user_wanted) %>
    <%= submit_tag("Find User") %>
<% end %>

<table style="margin-left: auto; margin-right: auto">
    <% @all_games.in_groups_of(4) do |games| %>
        <tr>
        <% for game in games do %>
            <% unless game.nil? %>
                <td style="text-align:center; padding: 10px">
                    <div><%= image_tag(game.thumbnail) %></div>
                    <span class = "game_name"><%= game.bgname %></span>
                </td>
            <% end %>
        <% end %>
        </tr>
    <% end %>
</table>