<%= render "shared/navbar" %>

<%= form_tag(users_path, method: "get") do %>
    <%= text_field_tag(:user_wanted) %>
    <%= submit_tag("Find User") %>
<% end %>

<% @all_games.in_groups_of(4) do |games| %>
        <% for game in games do %>
            <% unless game.nil? %>
                <div Style = "width:25%; float: left; clear: right; margin:0px; text-align:center; padding:0px;">
                    <%= image_tag(game.thumbnail) %>
                    <div class = "game_name"><%= game.bgname %></div>
                </div>
            <% end %>
        <% end %>
<% end %>