<%= render "shared/navbar" %>

<div class="game_event">
    Find a user and view their collection
</div>

<%= form_tag(users_path, method: "get") do %>
    <%= text_field_tag(:user_wanted) %>
    <%= submit_tag("Search") %>
<% end %>

<div class="game_event">
    Currently viewing <%= @user.username %>'s collection
</div>

<div class="game_event" style="text-align:center;">
    Click the star to make a game a favorite
</div>

<table style="margin-left: auto; margin-right: auto">
    <% @all_games.in_groups_of(4) do |games| %>
        <tr>
        <% for game in games do %>
            <% unless game.nil? %>
                <td style="text-align:center; padding: 10px">
                    <div><%= image_tag(game.thumbnail) %></div>
                    <% if @user.bgg_accounts.find_by_game_id(game.id).favorite %>
                        <%= link_to image_tag("star_yellow.png", :size => "17x16"), collection_path(:game_id => game.id)  %>
                    <% else %>
                        <%= link_to image_tag("star_grey.png", :size => "17x16"), collection_path(:game_id => game.id)  %>
                    <% end %>
                    <span class = "game_name"><%= game.bgname %></span>
                </td>
            <% end %>
        <% end %>
        </tr>
    <% end %>
</table>