<%= render "shared/navbar" %>

<% if Delayed::Job.exists? %>
  <span id="acc-process">We are currently processing an account for you, please note this may take a long time for large accounts (approximately 1 second per game), you can click below to refresh</span>
  <%= link_to "Refresh" %>
<% end %>

<% unless Delayed::Job.exists? %>
  <div style = "max-width: 22%; float: left">
    <div class="game-list">  
      <p1><a>Add a Boardgame geek account to sync with here!</a></p1>
      <%= form_tag(link_path, method: "get") do %>
        <p2><a>Account name</a></p2>
          <%= text_field_tag(:account_name) %>
          </br>
        <%= submit_tag("Add Account") %>
      <% end %>
    
      <% if @user.accounts.count > 0 %>
        <b>Synced Accounts</b></br>
        <% for account in @user.accounts do %>
          <%= account %>
          <%= link_to "Delete", unlink_path(:account => account), data: { confirm: "Are you sure?" } %></br>
        <% end %>
      <% end %>  
    </div>
    
    <div class="game-list">
      <b>Sort by</b></br>
      <%= sortable("Name", "bgname") %></br>
      <%= sortable("Year", 'yearpublished') %></br>
      <%= sortable("Minimum Age", 'minage') %></br>
      <%= sortable("Min Players", 'minplayers') %></br>
      <%= sortable("Max Players", 'maxplayers') %></br>
      <%= sortable("Game Time", 'playingtime') %></br>
      
      <b>Filters</b>
      <%= form_tag(filter_path) do %>
        <%= label_tag(:max_age, "Maximum Age") %></br>
        <%= number_field_tag(:max_age, "Max", in: 1..100, class: 'filter') %></br>
        <%= label_tag(:min_age, "Minimum Age") %></br>
        <%= number_field_tag(:min_age, "Min", in: 0..100, class: 'filter') %></br>
        <%= label_tag(:num_players, "Number of Players") %></br>
        <%= number_field_tag(:num_players, "Min",  in: 0..1000, class: 'filter') %></br>
        <%= label_tag(:min_time, "Minimum time (mins)") %></br>
        <%= number_field_tag(:min_time, "Min", in: 0..10000, class: 'filter') %></br>
        <%= label_tag(:max_time, "Maximum time (mins)") %></br>
        <%= number_field_tag(:max_time, "Max", in: 0..10000, class: 'filter') %></br>
        <%= label_tag(:game_mechanic, "Mechanic") %></br>
        <%= select_tag(:game_mechanic, options_from_collection_for_select(Mechanic.all, :boardgamemechanic, :boardgamemechanic), include_blank: "Select Mechanic", class: 'filter') %></br>
        <%= label_tag(:game_category, "Category") %></br>
        <%= select_tag(:game_category, options_from_collection_for_select(Category.all, :boardgamecategory, :boardgamecategory), include_blank: "Select Category", class: 'filter') %></br>
        <%= submit_tag("Filter") %>
      <% end %>

      Current Filters:
      <% unless params[:max_age].to_i == 1000 %>
        Age < <%=params[:max_age] %>
      <% end %>
      <% unless params[:min_age].to_i == 0 %>
        Age > <%=params[:min_age] %>
      <% end %>
      <% unless params[:num_players].to_i == 0 %>
        Number of players = <%=params[:num_players] %>
      <% end %>
      <% unless params[:min_time].to_i == 0 %>
        Time > <%=params[:min_time] %>
      <% end %>
      <% unless params[:max_time].to_i == 10000 %>
        Time < <%=params[:max_time] %>
      <% end %>
      <% unless params[:game_mechanic].blank? %>
        Mechanic = <%=params[:game_mechanic] %>
      <% end %>
      </br>
      <% unless params[:game_category].blank? %>
        Category = <%=params[:game_category] %>
      <% end %>
    </div>
  </div>  
  
  <span class="game-list">
    <div style= "text-align: center">Click a game to find more games like it!</div>
    <div style= "text-align: center">Mouseover to get game info</div>
    <ul class = "information">
      <% for game in @all_games do %>
      <%# for game in Game.all do %> 
        <li>
        <%= link_to game.bgname, suggest_game_path(:game_id => game.id) %>
        <span>
          <%= image_tag(game.thumbnail) %></br>
          Year: <%= game.yearpublished %></br>
          Min Age: <%= game.minage %></br>
          Min Players: <%= game.minplayers %></br>
          Max Players: <%= game.maxplayers %></br>
          Avg. Play Time: <%= game.playingtime %></br>
          Categories</br>
          <% for category in game.categories do %>
            <%= category.boardgamecategory %></br>
          <% end %>
          Mechanics</br>
          <% for mechanic in game.mechanics do %>
            <%= mechanic.boardgamemechanic %></br>
          <% end %>
        </span>
        </li>
      <% end %>
    </ul>
  </span>
  
  <% unless @suggestions.nil? %>
    <span class="game-list">
      <div style = "text-align: center">Games similar to <%= @game_to_compare.bgname %></div>
      <div style = "text-align: center">Click a game to add it to your collection</div>
      <ul class = "information">
        <% for game in @suggestions do %>
        <%# for game in Game.all do %> 
          <li>
          <%= link_to game.bgname, suggest_game_path(:game_id => @game_to_compare.id, :add_game => game.id) %>
          <span>
            <%= image_tag(game.thumbnail) %></br>
            Year: <%= game.yearpublished %></br>
            Min Age: <%= game.minage %></br>
            Min Players: <%= game.minplayers %></br>
            Max Players: <%= game.maxplayers %></br>
            Avg. Play Time: <%= game.playingtime %></br>
            Categories</br>
            <% for category in game.categories do %>
              <%= category.boardgamecategory %></br>
            <% end %>
            Mechanics</br>
            <% for mechanic in game.mechanics do %>
              <%= mechanic.boardgamemechanic %></br>
            <% end %>
          </span>
          </li>
        <% end %>
      </ul>
    </span>
  <% end %>
<% end %>