<%= render "shared/navbar" %>

<% if Delayed::Job.exists? %>
  <span id="acc-process">We are currently processing an account for you, please note this may take a long time for large accounts (approximately 1 second per game), you can click below to refresh</span>
  <%= link_to "Refresh" %>
<% end %>

<% unless Delayed::Job.exists? %>
  <div style = "max-width: 22%; float: left">
    <p1><a>Add a Boardgame geek account to sync with here!</a></p1>
    <%= form_tag(link_path, method: "get") do %>
      <p2><a>Account name</a></p2>
        <%= text_field_tag(:account_name) %>
        </br>
      <%= submit_tag("Add Account") %>
    <% end %>
    
    <% if @user.accounts.count > 0 %>
      <div id="bgg-table">
        Synced Accounts</br>
        <% for account in @user.accounts do %>
          <%= account %>
          <%= link_to "Delete", unlink_path(:account => account), data: { confirm: "Are you sure?" } %></br>
        <% end %>
      </div>
    <% end %>  
      
    <div class="filter">
      <p>
        <div><b>Filters</b></div>
        <%= form_tag(filter_path) do %>
          <%= label_tag(:max_age, "Maximum Age") %></br>
          <%= number_field_tag(:max_age, "Max", in: 1..100) %></br>
          <%= label_tag(:min_age, "Minimum Age") %></br>
          <%= number_field_tag(:min_age, "Min", in: 0..100) %></br>
          <%= label_tag(:num_players, "Number of Players") %></br>
          <%= number_field_tag(:num_players, "Min",  in: 0..1000) %></br>
          <%= label_tag(:min_time, "Minimum time (mins)") %></br>
          <%= number_field_tag(:min_time, "Min", in: 0..10000) %></br>
          <%= label_tag(:max_time, "Maximum time (mins)") %></br>
          <%= number_field_tag(:max_time, "Max", in: 0..10000) %></br>
          <%= label_tag(:game_mechanic, "Mechanic") %></br>
          <%= select_tag(:game_mechanic, options_from_collection_for_select(Mechanic.all, :boardgamemechanic, :boardgamemechanic), include_blank: "Select Mechanic") %></br>
          <%= label_tag(:game_category, "Category") %></br>
          <%= select_tag(:game_category, options_from_collection_for_select(Category.all, :boardgamecategory, :boardgamecategory), include_blank: "Select Category") %></br>
          <%= submit_tag("Submit") %>
        <% end %>
      </p>
    </div>
    
    <div class="filter">
      Current Filters:
       <% unless params[:max_age].to_i == 1000 %>
        Age < <%=params[:max_age] %>
      <% end %>
      <% unless params[:min_age].to_i == 0 %>
        Age > <%=params[:min_age] %>
      <% end %>
      <% unless params[:num_players].to_i == 0 %>
        Number of players = <%=params[:num_players] %>
      <% end %>
      <% unless params[:min_time].to_i == 0 %>
        Time > <%=params[:min_time] %>
      <% end %>
      <% unless params[:max_time].to_i == 10000 %>
        Time < <%=params[:max_time] %>
      <% end %>
      <% unless params[:game_mechanic].blank? %>
        Mechanic = <%=params[:game_mechanic] %>
      <% end %>
      </br>
      <% unless params[:game_category].blank? %>
        Category = <%=params[:game_category] %>
      <% end %>
    </div>
    
    <% unless @suggestions.nil? %>
      <div class="filter">
        <% for game in @suggestions do %>
          <%= game.bgname %></br>
        <% end %>
      </div>
    <% end %>
  </div>  
  
  <span style = "float: left; max-width: 30%; padding: 5px">
    <span>Click a game to find more games like it!</span>  
    <table class="game-list">
      <th><%= sortable("Name", "bgname") %></th>
      <th><%= sortable("Year", 'yearpublished') %></th>
      <th><%= sortable("Minimum Age", 'minage') %></th>
      <th><%= sortable("Min Players", 'minplayers') %></th>
      <th><%= sortable("Max Players", 'maxplayers') %></th>
      <th><%= sortable("Game Time", 'playingtime') %></th>
      <th>Categories</th>
      <th>Mechanics</th>
      <% for game in @all_games do %>
      <%# for game in Game.all do %> 
        <tr>
          <td><%= link_to game.bgname, suggest_game_path(:game_id => game.id) %></td>
          <td><%= game.yearpublished %></td>
          <td><%= game.minage %></td>
          <td><%= game.minplayers %></td>
          <td><%= game.maxplayers %></td>
          <td><%= game.playingtime %></td>
          <td>
            <% for category in game.categories do %>
              <%= category.boardgamecategory %><% if not category == game.categories.last %>, <% end %>
            <% end %>
          </td>
          <td>
            <% for mechanic in game.mechanics do %>
              <%= mechanic.boardgamemechanic %><% if not mechanic == game.mechanics.last %>, <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </span>  
<% end %>