<%= render "shared/navbar" %>
<style>
  table, th, td{
   border: 1px solid black;
   border-collapse: collapse;
  } 
</style>
<p>
  <div>Add a Boardgame geek account to sync with here. Please note, syncing accounts can take significant amounts of time. Especially for large collections</div>
  <div>Initially no results will show up, however refresh the page and as results are added they will appear</div>
  <%= form_for(@bgg_account) do |f| %>
    <div class="field">
      <%= f.label :account_name %>
      <%= f.text_field :account_name %>
    </div>
  <%= f.submit "Add Account", class: "btn btn-primary" %>
  <% end %>
</p>

<% if @bgg_accounts.count > 0 %>
  <table>
    <th>Account Name</th>
    <% for account in @bgg_accounts do %>
      <tr>
        <td><%= account.account_name %></td> 
        <td><%= link_to "Delete", account, method: :delete, data: { confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  </table>
  
  <p>
    <%= form_tag do %>
      <%= number_field_tag(:maxage, in: 1..100) %>
      <%= submit_tag("Submit") %>
    <% end %>
  </p>
  <%= @stuffsuch %>
  
  <table>
    <th><%= link_to "Name", params.merge(:sort => 'bgname') %></th>
    <th><%= link_to "Year", params.merge(:sort => 'yearpublished') %></th>
    <th><%= link_to "Minimum Age", params.merge(:sort => 'minage') %></th>
    <th><%= link_to "Min Players", params.merge(:sort => 'minplayers') %></th>
    <th><%= link_to "Max Players", params.merge(:sort => 'maxplayers') %></th>
    <th><%= link_to "Game Time", params.merge(:sort => 'playingtime') %></th>
    <th>Categories</th>
    <th>Mechanic</th>
      <%# for game in account.games.order(params[:sort]) do %>
      <% for game in @all_games do %>
        <tr>
          <td><%= game.bgname %></td>
          <td><%= game.yearpublished %></td>
          <td><%= game.minage %></td>
          <td><%= game.minplayers %></td>
          <td><%= game.maxplayers %></td>
          <td><%= game.playingtime %></td>
          <% if game.boardgamecategory and game.boardgamemechanic %>
          <td>
          <% for category in game.boardgamecategory do %>
            <%= category %>
          <% end %>
          </td>
          <td>
          <% for mechanic in game.boardgamemechanic do %>
            <%= mechanic %>
          <% end %>
          </td>
          <% end %>
        </tr>
      <% end %>
  </table>  
<% end %>
