<%= render "shared/navbar" %>

<p>
  <div>Add a Boardgame geek account to sync with here. Please note, syncing accounts can take significant amounts of time. Especially for large collections</div>
  <div>Initially no results will show up, however refresh the page and as results are added they will appear</div>
  <%= form_for(@bgg_account) do |f| %>
    <div class="field">
      <%= f.label :account_name %>
      <%= f.text_field :account_name %>
    </div>
  <%= f.submit "Add Account", class: "btn btn-primary" %>
  <% end %>
</p>


<% if @bgg_accounts.count > 0 %>
  <table>
    <th>Account Name</th>
    <% for account in @bgg_accounts do %>
      <tr>
        <td><%= account.account_name %></td> 
        <td><%= link_to "Delete", account, method: :delete, data: { confirm: "You sure?" } %></td>
      </tr>
    <% end %>
  </table>
  <table>
    <th><%= link_to "Name", :sort => 'bgname' %></th>
    <th><%= link_to "Year", :sort => 'yearpublished' %></th>
    <th><%= link_to "Minimum Age", :sort => 'minage' %></th>
    <th><%= link_to "Min Players", :sort => 'minplayers' %></th>
    <th><%= link_to "Max Players", :sort => 'maxplayers' %></th>
    <th><%= link_to "Game Time", :sort => 'playingtime' %></th>
    <th>Categories</th>
    <th>Mechanic</th>
    <% for account in @bgg_accounts do%>
      <% for game in account.games.order(params[:sort]) do %>
        <tr>
          <td><%= game.bgname %></td>
          <td><%= game.yearpublished %></td>
          <td><%= game.minage %></td>
          <td><%= game.minplayers %></td>
          <td><%= game.maxplayers %></td>
          <td><%= game.playingtime %></td>
          <% if game.boardgamecategory and game.boardgamemechanic %>
          <td>
          <% for category in game.boardgamecategory do %>
            <%= category %>
          <% end %>
          </td>
          <td>
          <% for mechanic in game.boardgamemechanic do %>
            <%= mechanic %>
          <% end %>
          </td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </table>  
<% end %>
