<%= render "shared/navbar" %>
<style>
  table, th, td{
   border: 1px solid black;
   border-collapse: collapse;
  } 
</style>
<p>
  <div>Add a Boardgame geek account to sync with here.</div>
  <%= form_tag(link_path, method: "get") do %>
    <div class="field">
      <%= label_tag(:account_name, "Account name") %>
      <%= text_field_tag(:account_name) %>
    </div>
    <%= submit_tag("Add Account") %>
  <% end %>
</p>

<% if Delayed::Job.exists? %>
  <div>We are currently processing an account for you, please note this may take a long time for large accounts (approximately 1 second per game), you can click below to refresh</div>
  <%= link_to "Refresh" %>
<% end %>

<% if @user.accounts.count > 0 and not Delayed::Job.exists? %>
  <table>
    <th>Account Name</th>
    <% for account in @user.accounts do %>
      <tr>
        <td><%= account %></td> 
        <td><%= link_to "Delete", unlink_path(:account => account), data: { confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  </table>
  
  <p>
    <div>Filters</div>
    <%= form_tag(filter_path) do %>
      <%= label_tag(:max_age, "Max Age") %>
      <%= number_field_tag(:max_age, in: 1..100) %></br>
      <%= label_tag(:min_players, "Minimum Players") %>
      <%= number_field_tag(:min_players, in: 0..100) %></br>
      <%= label_tag(:max_players, "Maximum Players") %>
      <%= number_field_tag(:max_players, in: 0..100) %></br>
      <%= label_tag(:min_time, "Minimum time (mins)") %>
      <%= number_field_tag(:min_time, in: 0..1000) %></br>
      <%= label_tag(:max_time, "Maximum time (mins)") %>
      <%= number_field_tag(:max_time, in: 0..1000) %></br>
      <%= label_tag(:game_mechanic, "Mechanic") %>
      <%= select_tag(:game_mechanic, options_from_collection_for_select(Mechanic.all, :boardgamemechanic, :boardgamemechanic)) %></br>
      <%= label_tag(:game_category, "Category") %>
      <%= select_tag(:game_cateogry, options_from_collection_for_select(Category.all, :boardgamecategory, :boardgamecategory)) %></br>
      <%= submit_tag("Submit") %>
    <% end %>
  </p>
  
  <table>
    <th><%= sortable("Name", "bgname") %></th>
    <th><%= sortable("Year", 'yearpublished') %></th>
    <th><%= sortable("Minimum Age", 'minage') %></th>
    <th><%= sortable("Min Players", 'minplayers') %></th>
    <th><%= sortable("Max Players", 'maxplayers') %></th>
    <th><%= sortable("Game Time", 'playingtime') %></th>
    <th>Categories</th>
    <th>Mechanics</th>
    <% for game in @all_games do %>
      <tr>
        <td><%= game.bgname %></td>
        <td><%= game.yearpublished %></td>
        <td><%= game.minage %></td>
        <td><%= game.minplayers %></td>
        <td><%= game.maxplayers %></td>
        <td><%= game.playingtime %></td>
        <td>
          <% for category in game.categories do %>
            <%= category.boardgamecategory %><% if not category == game.categories.last %>, <% end %>
          <% end %>
        </td>
        <td>
          <% for mechanic in game.mechanics do %>
            <%= mechanic.boardgamemechanic %><% if not mechanic == game.mechanics.last %>, <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>  
<% end %>
