<% provide(:title, @user.username) %>

<%= render "shared/navbar" %>

<%= image_tag @user.picture.url, :class => "profile_pic"  if @user.picture? %>

<div><p2><a><%= link_to "View Collection Images", collection_path %></br></a></p2></div>

<span class="game_event">Last Login: <%= @user.last_login %></span></br>

<span class="game_event">
    Recent Activity</br>
    <% for game in @user.bgg_accounts.order(:created_at).limit(10) %>
        <%= game.created_at %>: Added <%= Game.find(game.game_id).bgname %> to their collection </br>
    <% end %>
</span>