<div class="container">
    <% if logged_in? %>
        <div id="navbar">
            <ul id="nav-options">
                <li id="nav-user"><b><%= @user.username %></b></li>
                <li class="opts"><%= link_to "Log out", logout_path, method: "delete" %></li> 
                <li class="opts"><%= link_to "Profile", current_user %></li> 
                <li class="opts"><%= link_to "Edit Profile", edit_user_path(current_user) %></li>
            </ul>
        </div>
      <% else %>
        <%= link_to "Log in", login_path %>
    <% end %>
</div>