<div class="container">
    <% if logged_in? %>
        <div id="navbar">
            <ul id="nav-options">
                <li id="nav-user"><b><%= current_user.username %></b></li>
                <li class="opts"><%= link_to "My Profile", current_user %></li>
                <li class="opts"><%= link_to "Find a Game", find_game_path(current_user) %></li>
                <li class="opts"><%= link_to "Edit Profile", edit_user_path(current_user) %></li>
                <li class="opts"><%= link_to "Log out", logout_path, method: "delete" %></li> 
            </ul>
        </div>
      <% else %>
        <%= link_to "Log in", login_path, class: "opts" %>
    <% end %>
</div>