<p id="logo"><%= image_tag("bored game.png", alt: "The Bestest Board Game Tool ever!", align: "center", position: "relative") %></p>

<div class="row" align="center" position="relative">

  
  
  
<div id="container">
<h1><a>Log in</a></h1>
</div>





  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <table>
        <tr>
          <td><%= f.label :username, class: 'form-field' %></td>
          <td><%= f.text_field :username, class: 'form-control' %></td>
        </tr>

        <tr>
          <td><%= f.label :password, class: 'form-field' %></td>
          <td><%= f.password_field :password, class: 'form-control' %></td>
        </tr>
      </table>

      <%= f.label :remember_me, class: "checkbox-inline" do %>
        <%= f.check_box :remember_me %>
        <span>Remember me on this computer</span>
      <% end %>

      <p><%= f.submit "Log in", class: "btn btn-primary" %></p>
    <% end %>

    <p><a>New user?  </a><%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>
